In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.preprocessing import LabelEncoder
from sklearn import metrics

from sklearn.decomposition import PCA
from sklearn.svm import SVR
from sklearn.preprocessing import StandardScaler, PolynomialFeatures
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor

# Tarin and Testing
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error, r2_score

# Save and get model(s)
import pickle

# Data Preparation

### Data Collection / loading:

In [2]:
df = pd.read_csv('./data/Carbon-Emission.csv', index_col=None, na_values=['NA'])

In [4]:
df.sample(5)

,Body Type,Sex,Diet,How Often Shower,Heating Energy Source,Transport,Vehicle Type,Social Activity,Monthly Grocery Bill,Frequency of Traveling by Air,Vehicle Monthly Distance Km,Waste Bag Size,Waste Bag Weekly Count,How Long TV PC Daily Hour,How Many New Clothes Monthly,How Long Internet Daily Hour,Energy efficiency,Recycling,Cooking_With,CarbonEmission
2178,underweight,male,omnivore,twice a day,wood,public,NaN,sometimes,93,never,1735,small,2,5,42,3,Sometimes,"['Paper', 'Metal']","['Stove', 'Oven', 'Microwave']",1272
2102,normal,male,pescatarian,less frequently,wood,private,diesel,often,170,very frequently,668,small,5,17,22,20,Sometimes,"['Paper', 'Plastic', 'Metal']",[],2559
7220,obese,male,vegan,more frequently,wood,public,NaN,often,276,rarely,1397,small,4,7,11,23,No,"['Paper', 'Glass', 'Metal']","['Oven', 'Microwave', 'Grill', 'Airfryer']",1675
666,overweight,female,vegetarian,daily,natural gas,walk/bicycle,NaN,sometimes,162,frequently,85,extra large,7,11,43,2,No,[],"['Stove', 'Microwave', 'Grill', 'Airfryer']",2897
4820,overweight,male,vegetarian,twice a day,electricity,walk/bicycle,NaN,never,60,rarely,68,small,2,20,28,9,No,"['Plastic', 'Glass', 'Metal']","['Grill', 'Airfryer']",967